:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  text-align: center;
}

body {
  margin: 0;
}

button {
  background-color: #7e1587;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
}

button:hover {
  background-color: #8a2c93;
}

input {
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #7e1587;
  outline: none;
}
